@import "tailwindcss";

::selection{
  background-color: #ff5e18;
  color: white;
}
body{
  background-color: #161616;
  font-family: var(--font-poppins);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-roboto);
}

@media screen and (min-width:1024px) {
  .img{
    height: 90vh;
  }
}